<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h2>Trabajo 1</h2> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur
                     adipisicing elit. Ea quasi dicta 
                     provident
                      enim quo ipsa facere atque maxime vero? 
                      Ut ad dolores asperiores temp
                      ore ipsa illum
                     repellat, culpa voluptate obcaecati?</p>
                    
      
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 2</h2> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur
                     adipisicing elit. Ea quasi dicta 
                     provident
                      enim quo ipsa facere atque maxime vero? 
                      Ut ad dolores asperiores temp
                      ore ipsa illum
                     repellat, culpa voluptate obcaecati?</p>
                    
      
            </li>
        </ul>
        <ul>
            <li>
                <h2>Trabajo 3</h2> - <h3>(years)</h3>
                <p>Lorem ipsum, dolor sit amet consectetur
                     adipisicing elit. Ea quasi dicta 
                     provident
                      enim quo ipsa facere atque maxime vero? 
                      Ut ad dolores asperiores temp
                      ore ipsa illum
                     repellat, culpa voluptate obcaecati?</p>
                    
      
            </li>
        </ul>
    </div>
</div>
